<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="ticket" routerLinkActive="active" class="nav-link" >Ticket Listele</a> 
        </li>

        <li class = "nav-item">
            <a routerLink="create-ticket" routerLinkActive="active" class="nav-link" >Ticket Ekleme</a> 
        </li>
        
        <li class = "nav-item">
            <a routerLink="customer-list" routerLinkActive="active" class="nav-link" >Müşteri Listele</a> 
        </li>

        <li class = "nav-item">
            <a routerLink="customer-create" routerLinkActive="active" class="nav-link" >Müşteri Ekleme</a> 
        </li>

        <li class = "nav-item">
            <a routerLink="object-list" routerLinkActive="active" class="nav-link" >Ürün Listele</a> 
        </li>

        <li class = "nav-item">
            <a routerLink="object-create" routerLinkActive="active" class="nav-link" >Ürün Ekleme</a> 
        </li>
        
        <li class = "nav-item">
            <a routerLink="piece-list" routerLinkActive="active" class="nav-link" >Ürün Parçası Listele</a> 
        </li>

        <li class = "nav-item">
            <a routerLink="piece-create" routerLinkActive="active" class="nav-link" >Ürün Parçası Ekleme</a> 
        </li>

    </ul>
</nav>
<div class="container">
   <router-outlet></router-outlet> 
</div>

<footer class = "footer">
    <div class = "container">
        <span>Bizi Takip Edin @Twitter @İnstagram @Facebook</span>
    </div>
</footer>
