<div class="col-md-6 offset-md-3">
    <h3>Ürün Güncelleme</h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label>Ürün Adı</label>
            <input type="text" class ="form-control" id = "objeName"
                [(ngModel)] = "objectType.name" name = "objeName">
        </div>

        <div class="form-group">
            <label>Açıklama</label>
            <input type="text" class ="form-control" id = "descr"
                [(ngModel)] = "objectType.descr" name = "descr">
        </div>
    
        <button class = "btn btn-success" type ="submit">Kaydet</button>
    
    </form>
    </div>
    
    